# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Ignore all artifacts except production model files
artifacts/*
!artifacts/best_model.pkl
!artifacts/preprocessor.pkl

# Django specific
db.sqlite3
/staticfiles/
media/
